version: "3"

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - "5678:5678"
    environment:
      # متغيرات المصادقة الأساسية
      - N8N_API_KEY_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin518n518
      
      # متغيرات قاعدة البيانات PostgreSQL (مفصلة لمرونة أكبر)
      - DB_TYPE=postgresdb
      - DB_POSTGRES_HOST=db.bypuaavvyvvkknbcyfnp.supabase.co
      - DB_POSTGRES_PORT=5432
      - DB_POSTGRES_DATABASE=postgres
      - DB_POSTGRES_USER=postgres
      - DB_POSTGRES_PASSWORD=Ksa518n123@
      
      # متغيرات الويب هوك (Webhook)
      - WEBHOOK_URL=https://your-service-name.onrender.com
