version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - "5678:5678"
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: 3.223.15.252
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: postgres
      DB_POSTGRESDB_USER: postgres
      DB_POSTGRESDB_PASSWORD: Ksa518n123@
      DB_POSTGRESDB_SCHEMA: public
      DB_POSTGRESDB_SSL: "true"
      DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED: "false"
      DB_POSTGRESDB_CONNECTION_TIMEOUT: 60000
      N8N_API_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      N8N_API_KEY_AUTH_ACTIVE: "true"
      N8N_API_KEY_GLOBAL_ACCESS: "true"
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: admin518n518
      N8N_BLOCK_ENV_ACCESS_IN_NODE: "false"
      N8N_DISABLE_PRODUCTION_MAIN_MENU: "false"
      N8N_ENCRYPTION_KEY: Hdvdhrhr7j4i48ryfbifu6ehj387h47h4ir7y3g6ydhud8y4
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
      N8N_GIT_NODE_DISABLE_BARE_REPOS: "true"
      N8N_HOST: 0.0.0.0
      N8N_PORT: 5678
      N8N_RUNNERS_ENABLED: "true"
      N8N_SMTP_HOST: smtp.gmail.com
      N8N_SMTP_PORT: 587
      N8N_SMTP_USER: testing.ksa518n@gmail.com
      N8N_SMTP_PASS: qncpqaleakdiihhz
      N8N_SMTP_SENDER: testing.ksa518n@gmail.com
      N8N_SMTP_SSL: "true"
      NODE_FUNCTION_ALLOW_EXTERNAL: googleapis,axios,node-telegram-bot-api
      NODE_OPTIONS: "--max-old-space-size=4096"
