services:
  - type: web
    name: n8n-docker
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      # Basic Auth
      - key: N8N_API_KEY_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        value: "admin"
      - key: N8N_BASIC_AUTH_PASSWORD
        value: "admin518n518"

      # PostgreSQL
      - key: DB_TYPE
        value: "postgresdb"
      - key: DB_POSTGRES_HOST
        value: "db.bypuaavvyvvkknbcyfnp.supabase.co"
      - key: DB_POSTGRES_PORT
        value: "5432"
      - key: DB_POSTGRES_DATABASE
        value: "postgres"
      - key: DB_POSTGRES_SCHEMA
        value: "public"
      - key: DB_POSTGRES_USER
        value: "postgres"
      - key: DB_POSTGRES_PASSWORD
        value: "Ksa518n123@"
      - key: DB_POSTGRES_SSL
        value: "true"

      # Permissions
      - key: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
        value: "true"

      # Security & host
      - key: N8N_ENCRYPTION_KEY
        generateValue: true
      - key: N8N_HOST
        value: "0.0.0.0"
      - key: N8N_PORT
        value: "5678"

      # Webhook
      - key: WEBHOOK_URL
        value: "${{ env.RENDER_EXTERNAL_URL }}"
