services:
  - type: web
    name: n8n-docker
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        value: "admin"
      - key: N8N_BASIC_AUTH_PASSWORD
        value: "admin518n518"

      - key: N8N_API_KEY_AUTH_ACTIVE
        value: "true"

      # PostgreSQL (Supabase)
      - key: DB_TYPE
        value: "postgresdb"
      - key: DB_POSTGRESDB_HOST
        value: "db.bypuaavvyvvkknbcyfnp.supabase.co"
      - key: DB_POSTGRESDB_PORT
        value: "5432"
      - key: DB_POSTGRESDB_DATABASE
        value: "postgres"
      - key: DB_POSTGRESDB_SCHEMA
        value: "public"
      - key: DB_POSTGRESDB_USER
        value: "postgres"
      - key: DB_POSTGRESDB_PASSWORD
        value: "كلمة_السر_حقك"
      - key: DB_POSTGRESDB_SSL
        value: "require"
      - key: DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED
        value: "false"
      - key: DB_POSTGRESDB_CONNECTION_TIMEOUT
        value: "60000"

      - key: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
        value: "true"

      - key: N8N_ENCRYPTION_KEY
        generateValue: true
      - key: N8N_HOST
        value: "0.0.0.0"
      - key: N8N_PORT
        value: "5678"

      - key: WEBHOOK_URL
        value: "${{ env.RENDER_EXTERNAL_URL }}"
